/* 
 Estilos generales del cuerpo de la p谩gina 
   - Fondo con color azul oscuro (#0b81a5)
   - Fuente predeterminada: Arial, sans-serif 
*/
body {
    background-color: #0b81a5 !important;
    font-family: 'Arial', sans-serif;
}

/* 
 Estilos para los t铆tulos principales 
   - Fuente en negrita
   - Color blanco (#f3f3f3) para mayor contraste con el fondo
*/
h1 {
    font-weight: bold;
    color: #f3f3f3;
}

/* 
 Panel de controles
   - M铆nimo de 150px de ancho para asegurar legibilidad
   - Alineaci贸n vertical de los elementos en el centro 
*/
.control-panel {
    min-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 
 Estilos para los controles deslizantes (sliders)
   - Color personalizado del control (#d8a495)
   - Ajuste del ancho al 100% del contenedor
*/
.range-slider {
    accent-color: #d8a495;
    margin: 10;
    width: 100%;
}

/* 
 Estilos para los inputs con efecto neum贸rfico
   - Fondo de color verde claro (#3ae989f6)
   - Texto blanco para contraste
   - Bordes redondeados con un efecto neum贸rfico (sombra interna y externa)
   - Transici贸n suave en la sombra cuando recibe el foco
*/
.neumorphic-input {
    border: none;
    background: #3ae989f6;
    color: #ffffff;
    border-radius: 100px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6), -4px -4px 8px rgba(182, 158, 158, 0.1);
    padding: 0px 0px;
    outline: none;
    font-size: 1rem;
    transition: box-shadow 0.2s ease;
}

/* 
 Efecto de enfoque en los inputs neum贸rficos
   - Ajuste en la intensidad de la sombra para destacar el input activo
*/
.neumorphic-input:focus {
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8), -2px -2px 6px rgba(255, 255, 255, 0.2);
}

/* 
 Estilos para el cuadro de color din谩mico
   - Tama帽o de 150px x 150px
   - Fondo inicial en gris medio (rgb(128, 128, 128))
   - Bordes redondeados y sombreados para un efecto tridimensional
   - Transiciones suaves al cambiar de color y sombra
*/
.color-box {
    width: 150px;
    height: 150px;
    background-color: rgb(128, 128, 128);
    border-radius: 20px;
    border: 2px solid #333;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.8), inset 0px -3px 5px rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* 
 Estilos para la visualizaci贸n del c贸digo HEX
   - Color de texto blanco (#fcfaf9) con negrita
   - Efecto de sombra para mayor legibilidad
*/
#hexCode {
    color: #fcfaf9;
    font-weight: bold;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}


