/* Fondo oscuro */
body {
    background-color: #0b81a5 !important;
    font-family: 'Arial', sans-serif;
}

/* Títulos y textos */
h1 {
    font-weight: bold;
    color: #f3f3f3;
}

/* Panel de controles */
.control-panel {
    min-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Rango deslizante */
.range-slider {
    accent-color: #d8a495;
    margin: 10;
    width: 100%;
}

/* Inputs neumórficos */
.neumorphic-input {
    border: none;
    background: #3ae989f6;
    color: #ffffff;
    border-radius: 100px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6), -4px -4px 8px rgba(182, 158, 158, 0.1);
    padding: 0px 0px;
    outline: none;
    font-size: 1rem;
    transition: box-shadow 0.2s ease;
}

.neumorphic-input:focus {
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8), -2px -2px 6px rgba(255, 255, 255, 0.2);
}

/* Cuadro de color */
.color-box {
    width: 150px;
    height: 150px;
    background-color: rgb(128, 128, 128);
    border-radius: 20px;
    border: 2px solid #333;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.8), inset 0px -3px 5px rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Código HEX */
#hexCode {
    color: #fcfaf9;
    font-weight: bold;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}

